DATABASE_URL=postgres://username:password@localhost:5433/db_name
PONDER_RPC_URL_1=https://mainnet.base.org
PONDER_WS_URL_1=wss://base-rpc.publicnode.com
PONDER_START_BLOCK=46901433
PONDER_END_BLOCK=46901533
